/*.city{
    color: white;
    background-color: tomato;
    border: 2px solid black;
    padding: 2px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 120px;
    /*margin: top right bottom left;
    padding-left: 20px;
    padding-right: 23px;
    padding-bottom: 21px;
    padding-top: 20px;
    padding: top right bottom left;
    box-sizing: border-box;
}
p{
    color: blue;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom: dotted;
    border-left-style: solid;
    border-width: 5px;
    border-color: aqua;
    
}
.c4{
    color: aquamarine;
    background-image: -webkit-gradient();

}
h1{
    background-color:aliceblue
    

}*/


